<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Testing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2_left.css') }}">
    </head>

    <!-- HTML--> 
    <body>
        <div class="popUpBox">
            <div class="popUpHeader">
                <div class="Results">BOOKING AT THE BEST PRICE</div>
                <div class="Scuttlr_Price"> £100 </div>
            </div>
            <div class="popUpBody">
                <div class="hotels">
                    <span class="hotel_name"> Hotels</span>
                    {% with messages = get_flashed_messages(category_filter=["hotels"]) %}
                        {% if messages %}
                            <div class="price1">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="hotels">
                    <span class="hotel_name"> Booking</span>
                    {% with messages = get_flashed_messages(category_filter=["booking"]) %}
                        {% if messages %}
                            <div class="price1">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="hotels">
                    <span class="hotel_name"> Expedia</span>
                    {% with messages = get_flashed_messages(category_filter=["expedia"]) %}
                        {% if messages %}
                            <div class="price1">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </body>
</html>